body{
    background-color: rgb(48, 177, 106);
}
.pai{
    justify-content: center;
    display: flex;
}
.foto{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;color: white;
    background-color:rgb(11, 66, 32);
    box-shadow: 4px 4px ;
}
.primeiro{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;color: white;
    text-align: center;
    background-color:rgb(11, 66, 32);
    box-shadow: 4px 4px ;
}


.exemplo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color :rgb(11, 66, 32);
    color: rgb(247, 247, 247);
    font-size: 20px;
    text-align: center;
    margin-bottom: 0 auto;
    box-shadow: 3px 3px;

}
.exemplo:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.novo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgb(11, 66, 32);
    width: 200px;
    margin: 5px;
}
.outro{
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: rgb(33, 187, 92);
    width: 500px;
    height: 100px;
    margin: 5px;
    border: solid 2px rgb(0, 0, 0);
    box-shadow: 5px 3px;
}
.turma{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(11, 66, 32);
    width: 1200px;

    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.exemplo2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 15px;
    background-color: aliceblue;
    height: 200px;
    width: 200px;
    float: left;
    box-shadow: 5px 3px;
    margin-right: 5px;
    margin-left: 5px;
}
.footer{
    text-align: center;
    font-size: 12px;
}

.login{
    background-color: rgb(11, 66, 32);
    margin-top: 50px;
}

.button-link{
    display: inline-block;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.button-link:hover{
    background-color: green;
}