<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>IFPB</title>
      <link rel="stylesheet" href="../static/thaystyle.css">
   </head>

   <body>

       <div class= "foto">
            <img src="{{ url_for('static', filename='imagens/ifpbsousa.png') }}" width="100%" height="300px">
           <h1>SUBSEQUENTE P4</h1>
       </div>
       <div class= "exemplo">
          <h2> BEM-VINDO - {{user}}</h2>
       </div>

       <div class="pai">

           <div class="turma">
                <p>
                    <a href="/adicionardisciplina" class="button-link" target="iframeteste">Adicionar Disciplina</a>
                    <a href="/a" class="button-link" target="iframeteste">Remover Disciplina</a>
                    <a href="/sair"  class="button-link">Sair</a>
                </p>

               <iframe name="iframeteste" height="400px" width="70%"></iframe>
           </div>
       </div>

       <script src="js/newfile.js"> </script>
       <script src="js/thayscript.js"> </script>


    </body>
</html>
